{% extends 'base.html' %}

{% block content %}

<div style="border: 2px solid #000;">
  <h1>This is the body</h1>
  <p>Here is where you put staff that shoud be displayed to the users.</p>

  <!-- {{some_string}} -->

  <!-- {% for item in items %}
    {{item}}<br/>
  {% endfor %}

  {% include 'personal/snippets/body_snippet.html' %} -->

  <!-- {% for item in items %}
    {% include 'personal/snippets/body_snippet.html' with value=item %}
  {% endfor %} -->

  {% for question in questions %}
    {% include 'personal/snippets/body_snippet.html' with value=question %}
  {% endfor %}

</div>

{% endblock content %}
